{% extends "admin/change_list.html" %}

{% load humanize %}

{% block content_title %}
    <h1> Defects Summary </h1>
{% endblock %}

{% block result_list %}

<div class=”results”>
    <table>

    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Plant</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total Defects</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>
              <strong>% Of Total Defects</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.plant }} </td>
        <td> {{ row.total | default:0 }} </td>
        <td>
          <strong>
          {{ row.total |
              percentof:summary_total.total }}
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

{% endblock %}

{% block pagination %}{% endblock %}
